{% extends "base.html.twig" %}

{% block site %}
	<div class="container bg-light p-3 mt-4 mb-4">
		<h2>Willkommen auf der MinigameSite!</h2>
		<p class="m-0 ">
			Diese Seite ist aktuell in der Entwicklung.<br>
			Oben in der Menüleiste können alle aktuell verfügbaren Minigames gefunden werden.<br>
			Viel Spaß!
		</p>
	</div>
{% endblock %}
