.no-text-select {
  user-select: none;
}

.bg-dark-red {
  background-color: rgb(130, 0, 0);
}

.h-divider {
  font-size: initial;
  line-height: 1;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
  background-color: rgba(168, 168, 168, 0.5);
  border-top: 1px solid gray;
  border-radius: 1rem;
}
